@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    font-family: Arial, sans-serif;
    font-size: 1rem;    
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
    background-color: lightskyblue;
    border-radius: 5px;
}
p{
    line-height: 1.5rem;
}
.text-center{
    text-align: center;
}
h1,h2{
    color: darkblue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1:hover, h2:hover{
    cursor: pointer;    
}
h1 a{
    color: white;
}
h2 a{
    color: lightskyblue;
}
h1:hover a{
    color: darkblue;
}
h2:hover a{
    color: darkblue;
}
h3 a{
    color: darkblue;
}
.text-center{
    font-style: italic;
    text-align: center;
}
#person{
    font-family: 'Audiowide', cursive;
    font-style: normal; 
}
p a{
    color: darkblue;   
}
.iconify-inline{
    font-size: 1rem;
    line-height: 1.5rem;
}
#social{
    display: flex;
    justify-content: center;  
}
#social a{
    margin: 0px 3px;    
}




