@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    color: darkslategrey;
    font-family: Arial, sans-serif;
    font-size: 17px;
    transition: 1s;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
    background-color: lightskyblue;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}
h1,h2{
    color: darkblue;
}
a:visited{
    color: darkblue;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1 a, h1 a:visited{
    color: white; 
}
h2 a:visited{
    color: lightskyblue;
}
h1 a:hover, h2 a:hover{
    color: darkblue;
}
.text-center{
    font-style: italic;
    text-align: center;
}
#person{
    font-family: 'Audiowide', cursive;
    font-style: normal; 
}
p a{
    color: darkblue;
}
.iconify-inline{
    font-size: 1rem;
}